@import './base.css';

a,.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  html{
    overflow-y: inherit !important;
  }
  body {
    display: block;
    /*display: flex;*/
    /*place-items: center;*/
  }

}
.btn{
  border-radius: 60px !important;
  color: white !important;
  border: transparent;
  font-weight: 600 !important;
  align-items: flex-end;
}
.btn_start{
  width: 25%;
  padding: 1% 5% !important;
  font-weight: 600 !important;
}
