@import './base.css';
@import "./components/button.css";
@import "./components/inputSelectNumber.css";
@import "./components/contentBlock.css";
@import "./components/navbarReport.css";
@import "./components/alertReports.css";

a,.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
#app{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  html{
    overflow-y: inherit !important;
  }
  body {
    display: block;
  }

}


.alert_help .v-alert__content {
  align-self: initial;
}

#chart, #chart>*{
  /*display: none;*/
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -50%;
  z-index:-5;
}
.alert_help>.v-alert__close{
  position: absolute;
  top: 2%;
  right: 1%;
}
.asterisco{
  font-size: 7px;
  float: right;
}
.ask_step{
  text-decoration: underline;
}